# docker-compose.yml
version: '3.8'

services:
  web:
    build: .
    ports:
      - "8080:8080"
    environment:
      - DEBUG=1
      - AI_PROVIDER=gemini
      - GEMINI_API_KEY=AIzaSyCql8dybgx-YpAXy2JcOE85NeIwkTJ_kZE
    volumes:
      - ./logs:/app/logs
    command: >
  sh -c "python manage.py migrate --noinput &&
         python manage.py collectstatic --noinput &&
         python manage.py runserver 0.0.0.0:8080"
