# docker-compose.yml
version: '3.8'

services:
  web:
    build: .
    ports:
      - "8080:8080"
    environment:
      - DEBUG=0
      - AI_PROVIDER=gemini
      - ALLOWED_HOSTS=curhatin2-production.up.railway.app
    volumes:
      - ./logs:/app/logs
     command: >
  sh -c "python manage.py migrate --noinput &&
         python manage.py collectstatic --noinput &&
         gunicorn mental_health_chatbot.wsgi:application --bind 0.0.0.0:${PORT} --workers 3 --log-level info"

